#{$moq__ns}cookie-widget .#{$moq__ns}cookie * {
  font-family: $moq__font--default;
  font-size: rem(16);

  .nt-cookie__dialog {
    border-radius: rem(8);
    height: auto;
    min-height: 560px;
  }

  ul,
  ol,
  dl {
    list-style-position: inside;
    margin-bottom: 1.28em;
    li:not(:last-of-type) {
      margin-bottom: 0.5em;
    }
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  .MuiSelect-root {
    text-transform: capitalize;
  }

  .MuiButton-outlinedSecondary {
    border: rem(2) solid $color__link;
  }

  .MuiSwitch-colorSecondary {
    color: white;
  }

  .MuiSwitch-switchBase + .MuiSwitch-track {
    opacity: 1;
  }

  .Mui-disabled.MuiSwitch-switchBase.Mui-checked + .MuiSwitch-track {
    opacity: 0.3;
  }

  .MuiSwitch-track {
    background-color: black;
  }

  .Mui-checked {
    .MuiSwitch-track {
      background-color: $color__link;
    }
  }

  .MuiSwitch-track {
    border-radius: rem(10);
  }

  .MuiSwitch-root {
    width: rem(65);
    height: rem(45);
  }

  .MuiButtonBase-root {
    padding: rem(15);
  }

  .MuiSwitch-thumb {
    width: rem(15);
    height: rem(15);
  }
}

body .MuiListItem-root {
  text-transform: capitalize !important;
  font-family: $moq__font--default !important;
}
