/*------------------------------------
    # ELEMENT LISTS
-------------------------------------*/


li {
    line-height: $moq__base-line-height;
    > ul,
    > ol {
        margin-bottom: 0;
    }
}

.#{$moq__ns}list {
    list-style: none;
}

/*------------------------------------
    # END ELEMENT LISTS
-------------------------------------*/
