@import 'https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.css';

$button-height--default: rem(56);

@mixin placeholder {
  &::placeholder {
    @content
  }
  &::-webkit-input-placeholder {
    @content
  }
  &:-moz-placeholder {
    @content
  }
  &::-moz-placeholder {
    @content
  }
  &:-ms-input-placeholder {
    @content
  }
}

.mapboxgl {
    &-popup {
        max-width: none !important;
        min-width: rem(220);

        &-anchor-top {
          .mapboxgl-popup-tip {
            border-bottom-color: #E4E4E4;
          }
        }
        &-content {
            padding: 0;
            border-radius: rem(10);

            &__row {
                padding: rem(8);
                display: flex;
                justify-content: space-between;

                & + & {
                    border-top: 1px solid #EAE9E9
                }
                &__label {
                    color: $main__text-color;
                    font-family: $moq__font--default;
                    font-size: rem(16);
                    letter-spacing: 0;
                    line-height: rem(17);
                    padding-right: rem(20);
                }
                &__value {
                    color: $main__text-color;
                    font-family: $moq__font--default;
                    font-size: rem(16);
                    letter-spacing: 0;
                    line-height: rem(17);
                }
            }

            &__header {
                background-color: $main__text-color;
                border-radius: rem(10) rem(10) 0 0;
                padding: rem(15) rem(8);
                span {
                    color: $color__alt !important;
                    font-size: rem(16);
                }
            }
        }
        &-close-button {
            display: none;
        }
    }
    &-canvas {
        top: auto;
    }
    &-ctrl {
        @include ios-scroll-fix;
        &-bottom-right {
            bottom: rem(24);
            right: rem(24);

            @include screen-small {
                right: rem(8);
            }

            @media screen and (max-width: 768px) and (orientation: landscape) {
                bottom: rem(64);
            }

            @media screen and (max-width: 640px) {
                bottom: rem(108);
            }

            @media screen and (max-width: 640px) and (orientation: landscape) {
                bottom: rem(144);
            }

            .mapboxgl-ctrl-attrib {
                display: flex;
                position: absolute;
                width: rem(350);
                right: rem(-22);
                top: calc(100% + 4px);
                a {
                    font-family: $moq__font--default;
                    font-weight: 400;
                }

                &.mapboxgl-compact {
                    bottom: rem(-108);
                    right: rem(-10);
                    top: auto;
                    width: auto;

                    &::after {
                        background-color: white;
                    }
                }

                .mapboxgl-ctrl-attrib-button {
                    display: none;
                }
            }

            .mapboxgl-ctrl-group {
                background: none;
                box-shadow: none;
                margin: 0 0 rem(24);

                .mapboxgl-ctrl-geolocate, .mapboxgl-ctrl-zoom-out, .mapboxgl-ctrl-zoom-in {
                    background: #FFFFFF;
                    border-radius: rem(4);
                    height: rem(56);
                    width: rem(56);
                }

                .mapboxgl-ctrl-zoom-in {
                    margin-bottom: rem(8);
                }

                @include screen-small {
                    margin-bottom: rem(2);

                    .mapboxgl-ctrl-geolocate {
                        height: rem(48);
                        width: rem(48);

                        @media screen and (min-width: 641px) {
                            margin-bottom: rem(16);
                        }
                    }

                    .mapboxgl-ctrl-zoom-out, .mapboxgl-ctrl-zoom-in {
                        display: none;
                    }
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &-geocoder {
            box-shadow: none;
            font-family: $moq__font--default;
            font-size: rem(14);
            margin: 0 !important;
            background: transparent;
            height: rem(20);
            width: 100%;
            color: white;

            @include screen-small {
                max-width: none;
                min-width: 0;
            }

            input {
                border: none;
                border-radius: rem(4);
                box-shadow: none;
                outline: none;
                padding: 0 0 0 rem(8);
                width: rem(250);
                height: rem(25);
                color: #000000;
                font-family: $moq__font--default;
                font-size: rem(14);
                letter-spacing: 0;
                vertical-align: middle;
                @include placeholder {
                    opacity: 0.5;
                    color: $aside__title-color;
                    font-family: $moq__font--default;
                    font-size: rem(14);
                    letter-spacing: 0;
                }

                @include screen-small {
                    width: calc(100% - 30px);
                }
            }

            &--icon-search {
                left: 0;
                top: 0;
                position: relative;
                float: right;
                width: rem(25);
                height: rem(25);
                fill: $aside__title-color;
                @include ios-scroll-fix;

                &::after {
                    content: 'search';
                    font-family: "Material Icons";
                    font-size: rem(24);
                }
            }

            &--pin-right {
                display: none;
            }

            & .suggestions {
                width: rem(420);
                position: absolute;
                left: rem(-78);
                top: rem(43);

                @include screen-small {
                    border-radius: 0;
                    top: rem(45);
                    width: 100vw;

                    & > li > a {
                        padding: rem(5) rem(24);
                    }

                    .mapboxgl-ctrl-geocoder {
                        &--suggestion {
                            align-items: center;
                            display: flex;

                            &:before {
                                color: rgba(0,0,0,0.33);
                                content: 'place';
                                display: block;
                                font-family: 'Material Icons';
                                font-size: rem(24);
                                margin-right: rem(12);
                            }

                            &-address {
                                color: rgba(0,0,0,0.5);
                            }

                            &-title {
                                font-weight: normal;
                                margin-right: .5em;
                            }
                        }
                    }
                }
            }
        }

        &-top-left {
            left: rem(24);
            top: rem(24);

            @include screen-small {
                left: rem(8);
                top: rem(8);
            }

            @include screen-xs {
                left: rem(8);
                right: rem(8);
                top: rem(6);
            }
        }

        &-bottom-left {
            @media screen and (max-width: 768px) and (orientation: landscape) {
                bottom: rem(40);
            }
        }
    }
}
