/*------------------------------------
    # ELEMENT HTML
------------------------------------*/

html {
  font-family: $moq__font--default;
  font-size: $moq__base-font-size + px;
  line-height: $moq__base-line-height;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-x: hidden;
  position: relative;
}

/*------------------------------------
    # END ELEMENT HTML
------------------------------------*/
