@import 'src/assets/styles/core';

.#{$moq__ns}container__row {
  margin-bottom: rem(20);

  & > * {
    width: 100%;
  }

  &:last-child {
    margin-bottom: rem(8);
  }

  @include screen-medium {
    margin-bottom: 0;
  }
}

.#{$moq__ns}article {
  background: white;
  border-radius: rem(8);
}
