@import 'src/assets/styles/core';

$run-again-btn-width: rem(190);

.#{$moq__ns}container__row {
  margin-bottom: rem(20);

  &:last-child {
    margin-bottom: rem(8);
  }

  & > * {
    width: 100%;
  }

  .#{$moq__ns}indicators {
    margin: rem(100) auto rem(70);
    mat-select {
      mat-select-trigger {
        p {
          color: $color__link;
        }
      }
    }
    mat-select.disabledSelector {
      mat-select-trigger {
        p {
          color: black;
        }
      }
      .mat-select-arrow {
        background-color: #63961c !important;
      }
    }
  }

  .#{$moq__ns}container {
    background: inherit;
  }

  &#beta,
  &#information {
    .#{$moq__ns}container__col {
      margin-right: rem(24);
      flex: none;
      width: auto;

      img,
      pre,
      div {
        height: auto;
        max-width: 100%;
        overflow: hidden;
      }
    }

    .#{$moq__ns}container {
      display: flex;
      justify-content: center;
      padding: rem(40) rem(22);
      width: 100%;

      .#{$moq__ns}beta {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__image {
          min-width: rem(220);
          @include screen-small {
            display: none;
          }
        }
        &__badge {
          img {
            max-width: rem(128);
          }
          @include screen-small {
            display: none;
          }
        }
        &__panel {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
          margin: 0 rem(45);
          @include screen-small {
            margin-left: 0;
          }
          .#{$moq__ns}link {
            .mat-icon {
              margin-right: rem(9);
              vertical-align: middle;
            }
          }
        }
        &-title {
          font-size: rem(24);
          margin-bottom: rem(8);
        }
        &-subtitle {
          font-size: rem(16);
          margin-bottom: rem(20);
        }
      }
    }
  }

  &#run-test {
    .gap-text {
      color: $color__label;
      display: flex;
      align-items: center;
      font-size: rem(16);
      flex-grow: 1;
      text-align: center;

      @include screen-small {
        padding: rem(140) rem(40) rem(200);
      }
    }

    .#{$moq__ns}test {
      &-header {
        align-self: stretch;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        font-size: rem(20);
        line-height: 1.5;
        margin: 0 rem(-24);
        padding: rem(6) rem(24) rem(20);

        @include screen-small {
          margin-bottom: rem(24);
          padding-top: rem(30);
        }

        &--print {
          display: none;
        }

        @media print {
          &--print {
            display: block;
          }
        }
      }

      &-progress {
        width: 100%;
        padding: 0 rem(20);

        @media print {
          display: none;
        }
      }
    }

    h1 {
      font-size: rem(36);
      line-height: rem(43);
    }

    .mat-flat-button {
      font-size: rem(14);

      height: rem(48);
      min-width: rem(120);
    }

    .#{$moq__ns}run-test-btn {
      font-size: rem(16);
      margin: rem(40) 0;
      border-radius: 30px;

      & + .#{$moq__ns}link {
        max-width: rem(260);

        .mat-icon {
          margin-right: rem(9);
          vertical-align: middle;
        }
      }
    }

    .#{$moq__ns}container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      min-height: rem(450);
      overflow: visible;
      padding-top: rem(24);
      width: 100%;

      &__col {
        display: flex;
        flex-direction: column;
        font-size: rem(16);

        .#{$moq__ns}aside__header {
          margin-bottom: rem(-2);
          margin-left: 0;
          text-transform: capitalize;
          color: scale-color($color: $main__text-color, $alpha: -50%);
          font-size: rem(14);
          font-weight: 700;
        }

        section:not(:last-of-type) {
          margin-bottom: rem(4);
        }
      }
    }

    .#{$moq__ns}test-indicator {
      margin: 0 rem(4);
    }

    .#{$moq__ns}test-info {
      margin-left: rem(84);

      @include screen-medium {
        flex-direction: row;
        justify-content: center;
        margin-left: 0;
        margin-top: rem(40);

        .#{$moq__ns}container__col {
          flex: 0 0 rem(152);
          justify-content: flex-start;
          padding: 0 rem(10);
        }
      }

      @include screen-small {
        align-items: center;
        flex-direction: column;
      }
    }

    .#{$moq__ns}loading {
      display: flex;
      flex-direction: column;
      margin-top: rem(108);

      color: $color__primary;
      font-size: 14px;
      letter-spacing: 0;
    }

    .#{$moq__ns}widget-content__loader {
      margin-bottom: rem(20);
    }

    .#{$moq__ns}run-again {
      color: white;
      margin-top: rem(32);
      width: $run-again-btn-width;
    }
  }

  &#store-links {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: rem(40);
    a {
      display: block;
      height: rem(60);
      margin: 0 rem(12);
      width: rem(204);

      img {
        height: 100%;
      }
    }
  }

  &#test-charts {
    flex-direction: row;
    margin-left: rem(-4);
    margin-right: rem(-4);

    nt-general-card {
      margin: 0 rem(4);

      .#{$moq__ns}canvas__wrapper {
        margin: rem(12) rem(-12) rem(10);
      }
    }

    @media screen and (max-width: $moq__container-width--large) {
      flex-direction: column;
      margin: 0;

      nt-general-card {
        margin: 0;
      }

      .#{$moq__ns}test-chart {
        width: 100%;
      }
    }

    @include screen-medium {
      flex-direction: column;
      margin: 0;

      nt-general-card {
        margin: 0;
      }

      .#{$moq__ns}test-chart {
        width: 100%;
      }
    }
  }

  @include screen-medium {
    margin-bottom: 0;

    &#beta,
    &#information {
      .#{$moq__ns}container__col {
        width: 100%;

        &:first-child {
          padding-bottom: 1em;
        }
      }

      .#{$moq__ns}container {
        align-items: flex-start;
        flex-direction: column;
        padding: rem(17) 0 rem(24);
      }
    }

    &:last-child {
      flex-direction: column;
    }

    .#{$moq__ns}indicators {
      margin: rem(24) 0 0;
      width: 100%;
    }

    &#cookies-warning {
      .#{$moq__ns}cookies-text {
        line-height: rem(17);
      }
    }

    &#run-test {
      .#{$moq__ns}test {
        &-progress {
          width: 100%;
          padding: 0 rem(20);

          @include screen-small {
            padding: 0;
          }
        }
      }

      h1 {
        font-size: rem(24);
        line-height: rem(29);
        font-weight: 300;
      }

      .mat-flat-button:not(.#{$moq__ns}run-test-btn) {
        align-self: center;
        margin-top: 0;
      }

      .#{$moq__ns}loading {
        margin-top: rem(40);
      }

      .#{$moq__ns}container {
        min-height: rem(290);

        .#{$moq__ns}test-invite {
          margin: 0 0;
          &__image {
            margin-left: rem(100);
            height: rem(127);
            img {
              height: 100%;
            }
          }
        }

        &__col {
          section:last-of-type {
            margin-bottom: rem(32);
          }
        }
      }

      .#{$moq__ns}test-indicator {
        display: flex;
        justify-content: center;
        margin: 0;
      }
    }

    &#store-links {
      margin-bottom: rem(56);

      a {
        margin-bottom: rem(24);
      }
    }
  }

  @media screen and (min-width: 600px) and (max-width: #{$moq__screen-md}) {
    &:last-child {
      justify-content: center;
      flex-direction: row;
    }

    &#run-test {
      .#{$moq__ns}test-indicator {
        width: auto;

        &:not(:last-child) {
          margin-right: rem(10);
        }
      }

      .#{$moq__ns}indicators {
        flex-direction: column;
      }
    }
  }

  @include screen-small {
    &#run-test {
      .#{$moq__ns}indicators {
        flex-direction: column;
        margin-top: 0;
      }
    }
  }
}

.#{$moq__ns}share {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin-bottom: rem(24);
  margin-top: rem(24);
  width: $run-again-btn-width;

  &__item {
    flex: 0 0 rem(24);
    height: rem(24);
  }

  &__link {
    &::after {
      display: none !important;
    }
  }

  &__icon {
    background-image: url('/assets/images/icons/social-icons-map.svg');
    background-repeat: no-repeat;
    display: block;
    height: 100%;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;
    width: 100%;

    &--twitter {
      background-position: rem(2) rem(1);
    }

    &--facebook {
      background-position: rem(-27) rem(1);
    }

    &--whatsapp {
      background-position: rem(-55) rem(2);
    }

    &--linkedin {
      background-position: rem(-83) rem(1);
    }
  }
}

.mat-selected {
  color: $color__link !important;
}

.#{$moq__ns}article {
  background: white;
  border-radius: rem(8);
}
