<ng-container *transloco="let t">
  @if (testSate$ | async; as testState) {
  <div class="nt-container__row" id="run-test">
    <nt-general-card>
      @if (isNullOrUndefined(testState.visualization)) {
      <nt-test-home-init></nt-test-home-init>
      } @else {
      <nt-test-home-progress
        [language]="language"
        [project]="project$ | async"
      ></nt-test-home-progress>
      }
    </nt-general-card>
  </div>

  <!-- TEST CHARTS -->
  @if (progressComponent?.getPreparedEstimation(testState) ||
  testState.visualization) {
  <nt-test-charts class="nt-container__row"></nt-test-charts>
  }

  <!-- AUXILIARY CONTENT BLOCKS -->
  @if (project$ | async; as project) {

  <!-- LOCAL SERVERS BLOCK -->
  @if (isNullOrUndefined(testState.visualization) && isLocalServersVisible) {
  <nt-test-local-servers
    class="nt-article nt-container__row"
  ></nt-test-local-servers>
  }

  <!-- BETA INFO BLOCK -->
  @if (isNullOrUndefined(testState.visualization) && isBetaBlockVisible) {
  <nt-test-home-beta-info
    [project]="project"
    class="nt-container__row"
  ></nt-test-home-beta-info>
  }

  <!-- CONTACTS BLOCK -->
  @if (isNullOrUndefined(testState.visualization) && isContactsBlockVisible) {
  <nt-test-home-contacts
    [project]="project"
    class="nt-container__row"
  ></nt-test-home-contacts>
  }

  <!-- STORE LINKS BLOCK -->
  @if (isStoreLinksVisible) {
  <nt-test-home-store-links
    [project]="project"
    [language]="language"
    class="nt-container__row"
  ></nt-test-home-store-links>
  }

  <!-- PAGE CONTENT BLOCK -->
  @if ( isNullOrUndefined(testState.visualization) && page$ | async; as page ) {
  <article
    class="nt-article nt-container__col nt-container__col66 nt-article--fullwidth"
  >
    <pre [innerHTML]="page | mainSafeHtml : testStarter"></pre>
  </article>
  } } }
</ng-container>
