
@switch (flavor$ | async) {
  <!-- RATEL flavor -->
  @case (menuFlavors.RATEL) {
    <header class="nt-header nt-header--ratel">
      <div class="nt-wrapper">
        <a [routerLink]="logoLink" class="nt-logo">
          <img
            [src]="logoPath$ | async"
            [alt]="logoAlt"
            width="64"
            height="64"
            />
        </a>
        <a [routerLink]="logoLink" class="nt-logo nt-logo--alt">
          <img [src]="logoSidePath$ | async" [alt]="logoAlt" />
        </a>
        <button class="nt-hamburger" (click)="sidenav.toggle()" mat-icon-button>
          @if (!sidenav?.opened) {
            <mat-icon>menu</mat-icon>
          }
          @if (sidenav?.opened) {
            <mat-icon>close</mat-icon>
          }
        </button>
      </div>
      <div class="nt-wrapper nt-wrapper--sub">
        <div class="nt-wrapper">
          @if (menu$ | async; as menu) {
            <nt-main-nav
              className="nt-header__nav"
              [menu]="menu"
            ></nt-main-nav>
          }
          <nt-language-selector
            className="nt-header__select"
          ></nt-language-selector>
        </div>
      </div>
    </header>
  }
  <!-- Defaul flavor -->
  @default {
    <header class="nt-header">
      <div class="nt-wrapper">
        <a [routerLink]="logoLink" class="nt-logo">
          <img
            [src]="logoPath$ | async"
            [alt]="logoAlt"
            width="64"
            height="64"
            />
        </a>
        @if (menu$ | async; as menu) {
          <nt-main-nav
            className="nt-header__nav"
            [menu]="menu"
          ></nt-main-nav>
        }
        <nt-language-selector
          className="nt-header__select"
        ></nt-language-selector>
        <button class="nt-hamburger" (click)="sidenav.toggle()" mat-icon-button>
          @if (!sidenav?.opened) {
            <mat-icon>menu</mat-icon>
          }
          @if (sidenav?.opened) {
            <mat-icon>close</mat-icon>
          }
        </button>
      </div>
    </header>
  }
}
