@import "src/assets/styles/core";

.#{$moq__ns}wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    max-width: 100vw;
    padding: rem(40);
    width: 100vw;
}

.#{$moq__ns}header {
    font-family: $moq__font--alt;
    font-size: rem(36);
    font-weight: 200;
    line-height: 1.3;
    margin-bottom: rem(40);
}

.#{$moq__ns}section:first-of-type {
    margin-bottom: rem(40);
}

.#{$moq__ns}btn {
    font-size: rem(16);
    padding: rem(7) rem(28);
}

.#{$moq__ns}section:last-of-type {
    align-items: stretch;
    display: flex;
    height: 50%;
    justify-content: center;
    max-width: rem(560);
}