<ng-container *ngIf="project$ | async as project">
  <ng-container *ngIf="history$ | async as history">
    <ng-container *transloco="let t">
      <ng-container
        *ngIf="
          (isHistoryAllowed$ | async) === true && history.totalElements > 0
        "
      >
        <nt-export-warning [project]="project"></nt-export-warning>
        <div class="nt-container__row" id="history">
          <nt-general-card [title]="title$ | async" appearance="full-width">
            <article class="nt-container transparent">
              <header class="nt-history__heading">
                <span>{{ getHeading(history.totalElements) }}</span>
                <button
                  *ngIf="!project.enable_cookie_widget"
                  mat-flat-button
                  color="primary"
                  class="nt-export-button"
                  (click)="print()"
                >
                  {{ t('test.export_as_pdf') }}
                </button>
              </header>
              <nt-table
                [action]="action"
                tableTranslatePrefix="history"
                [columns]="columns"
                [data]="history"
                [paginator]="paginator"
                [sort]="sort"
              >
              </nt-table>
            </article>
          </nt-general-card>
        </div>
      </ng-container>
      <nt-functional-cookie
        *ngIf="
          (isHistoryAllowed$ | async) === true && history.totalElements === 0
        "
        [language]="language$ | async"
        [functionalCookiesEnabled]="true"
        [cookieWidgetEnabled]="project.enable_cookie_widget"
      ></nt-functional-cookie>
      <nt-functional-cookie
        *ngIf="(isHistoryAllowed$ | async) === false"
        [language]="language$ | async"
        [functionalCookiesEnabled]="false"
      ></nt-functional-cookie>
    </ng-container>
  </ng-container>
</ng-container>
