//__<<ngThemingMigrationEscapedComment0>>__

$color-map: (
    black: #000,
    black1: #231F20,
    white: #fff,
    gray1: #eAe9e9,
    gray2: #656262,
    gray3: #9c9c9c,
    gray4: #5d5d5d,
    gray5: #efefef,
    gray6: #BDBBBC,
    gray7: #908E8E,
    gray8: #fafafa,
    gray9: #f5f5f5,
    red: red,
    red2: #FF004E,
    blue: #1E398D,
    blue1: #e9effb,
    blue2: #becff5,
    blue3: #94b0ef,
    blue4: #6990e8,
    blue5: #293845,
    blue6: #6558f5,
    blue7: #dfe6ed,
    blue8: #9eadba,
    blue9: #c7c3fb,
    blue10: #293845,
    green1: #7FBC03,
    green2: #7ED321,
    green3: #00CC33,
    yellow: #ffcc00,
    orange: #F5A623,
);
