<aside class="nt-sidenav" *transloco="let t">
  <section class="nt-sidenav__sec" style="padding: 0">
    <a mat-button class="nt-sidenav__close-button" (click)="sidenav?.close()">
      <span class="nt-sidenav__close-button-icon">
        <mat-icon>close</mat-icon>
      </span>
    </a>
  </section>
  @if ((flavor$ | async) === menuFlavors.RATEL) {
    <section
      class="nt-sidenav__sec nt-sidenav__sec--ratel-logo"
      >
      <img [src]="logoSidePath$ | async" [alt]="logoAlt" />
    </section>
  }
  @if (locales?.length > 1) {
    <section
      class="nt-sidenav__sec nt-sidenav__sec--language"
      >
      <mat-icon>language</mat-icon>
      <mat-select
        class="nt-sidenav__language-select"
        (selectionChange)="changeLocale($event)"
        [value]="selectedLocale.iso"
        >
        @for (lang of locales; track lang) {
          <mat-option [value]="lang.iso">{{
            lang.name | titlecase
          }}</mat-option>
        }
      </mat-select>
    </section>
  }
  @if (headerMenu$ | async; as headerMenu) {
    <section
      class="nt-menu-items-wrapper nt-sidenav__sec"
      role="menu"
      >
      @for (item of feedbackMenu$ | async; track item) {
        <a
          [href]="item.url"
          class="nt-menu-button nt-menu-button--feedback"
          mat-button
          (click)="sidenav?.close()"
          role="menuitem"
          >{{ item | translate: 'label' }}</a
          >
        }
        @for (item of headerMenu; track item) {
          @if (item.children?.length) {
            @for (child of item.children; track child) {
              <a
                class="nt-menu-button"
                mat-button
                [routerLink]="child.route"
                (click)="sidenav?.close()"
                routerLinkActive="nt-menu-button--active"
                role="menuitem"
                >{{ child | translate: 'label' }}</a
                >
              }
            }
            @if (!item.children?.length) {
              <a
                class="nt-menu-button"
                mat-button
                [routerLink]="item.route"
                (click)="sidenav?.close()"
                routerLinkActive="nt-menu-button--active"
                role="menuitem"
                >{{ item | translate: 'label' }}</a
                >
              }
            }
          </section>
        }
        @if (footerMenu$ | async; as footerMenu) {
          <section
            class="nt-sidenav__sec"
            role="menu"
            >
            @if ((flavor$ | async) !== menuFlavors.RATEL) {
              @for (item of footerMenu; track item) {
                <a
                  class="nt-menu-button"
                  mat-button
                  [routerLink]="item.route"
                  (click)="sidenav?.close()"
                  routerLinkActive="nt-menu-button--active"
                  role="menuitem"
                  >{{ item | translate: 'label' }}</a
                  >
                }
              }
              @if (isCookieWidgetEnabled$ | async) {
                <a
                  class="nt-menu-button"
                  mat-button
                  (click)="openCookieWidget($event)"
                  >
                  {{ t('footer.menu.cookie_settings') }}
                </a>
              }
              <div class="nt-sidenav__footer-copyright">
                {{ project$ | async | translate: 'copyright' }} ({{
                project$ | async | translate: 'version'
                }})
              </div>
            </section>
          }
        </aside>
