@if (locales && locales.length > 1) {
<div [className]="className">
  <mat-select
    disableOptionCentering
    [(ngModel)]="selectedLocale"
    (selectionChange)="changeLocale()"
    [panelClass]="className"
  >
    <mat-select-trigger>
      <div class="nt-language-selector__language-name">
        <mat-icon>language</mat-icon><span>{{ selectedLocale?.name }}</span>
      </div>
    </mat-select-trigger>
    @for (locale of locales; track locale) {
    <mat-option class="nt-language-selector" [value]="locale">
      <div class="nt-language-selector__language-name">{{ locale.name }}</div>
    </mat-option>
    }
  </mat-select>
</div>
}
