<nav class="nt-menu {{ className }}" role="menubar">
  @for (item of menu; track useMenuItemId($index, item)) {
    @if (!hasChildren(item)) {
      <nt-main-menu-item
        [item]="item"
        (menuClick)="item.action && item.action($event)"
      ></nt-main-menu-item>
    }
    @if (hasChildren(item)) {
      <a
        class="nt-menu__item {{ item.className }} {{
          isRouterLinkActive(item) ? 'nt-menu__item--active' : ''
        }}"
        mat-button
        [matMenuTriggerFor]="menu"
        (click)="item.action && item.action($event)"
        role="menuitem"
        >
        @if (item.icon) {
          <mat-icon>{{ item.icon }}</mat-icon>
        }
        <span>{{ item | translate: 'label' }}</span>
      </a>
      <mat-menu #menu="matMenu" class="nt-menu__dropdown {{ className }}">
        @for (child of item.children; track child) {
          <nt-main-menu-item
            [item]="child"
            (menuClick)="child.action && child.action($event)"
          ></nt-main-menu-item>
        }
      </mat-menu>
    }
  }
</nav>
