<nav class="nt-menu {{ className }}" role="menubar">
  <ng-container *ngFor="let item of menu; trackBy: useMenuItemId">
    <nt-main-menu-item
      *ngIf="!hasChildren(item)"
      [item]="item"
      (menuClick)="item.action && item.action($event)"
    ></nt-main-menu-item>

    <ng-container *ngIf="hasChildren(item)">
      <a
        class="nt-menu__item {{ item.className }} {{
          isRouterLinkActive(item) ? 'nt-menu__item--active' : ''
        }}"
        mat-button
        [matMenuTriggerFor]="menu"
        (click)="item.action && item.action($event)"
        role="menuitem"
      >
        <mat-icon *ngIf="item.icon">{{ item.icon }}</mat-icon>
        <span>{{ item | translate: 'label' }}</span>
      </a>
      <mat-menu #menu="matMenu" class="nt-menu__dropdown {{ className }}">
        <nt-main-menu-item
          *ngFor="let child of item.children"
          [item]="child"
          (menuClick)="child.action && child.action($event)"
        ></nt-main-menu-item>
      </mat-menu>
    </ng-container>
  </ng-container>
</nav>
