@if (article$ | async; as article) {
  <nt-general-card appearance="widget">
    <div
      class="nt-container"
      style="background: none; width: 100%"
      *transloco="let t"
      >
      <article class="nt-container nt-article">
        <div class="nt-cover">
          <img [src]="cover" [alt]="article | translate : 'title'" />
        </div>
        <h1 class="nt-title">{{ article | translate : 'title' }}</h1>
        <p class="nt-meta">
          {{
          article.published_at
          | date : t('history.date_format') : undefined : activeLanguage
          }}{{ article | articleAuthor : t }}
        </p>
        <pre class="nt-content" [innerHtml]="article.content"></pre>
      </article>
    </div>
  </nt-general-card>
}
