<nt-general-card appearance="widget">
  @if (page$ | async; as page) {
    <div
      class="nt-container"
      style="background: none; width: 100%"
      >
      <div class="nt-container__row" *transloco="let t">
        @if (tocIsEnabled) {
          <aside
            class="nt-aside"
        [ngStyle]="{
          position: tocStyle.position,
          maxHeight: tocHeight,
          top: tocStyle.top
        }"
            >
            <header class="nt-aside__header">
              {{ title || t('article.toc') }}
            </header>
            <nav class="nt-aside__navigation" id="toc">
              @if (toc$ | async; as toc) {
                <ol @openClose class="nt-list">
                  @for (tocMenu of toc; track tocMenu; let i = $index) {
                    <li
                      class="nt-aside__link nt-aside__link--{{ tocMenu.tagName }}"
                      >
                      @if (shouldExist(tocMenu)) {
                        <button
                          mat-icon-button
                          (click)="toggleToc(i)"
                          class="nt-btn"
                          [class.nt-btn--expanded]="expandedTocs.includes(i)"
                          >
                          <mat-icon>arrow_drop_down</mat-icon>
                        </button>
                      }
                      <ng-container
                        *ngTemplateOutlet="tocItemTpl; context: { $implicit: tocMenu }"
                      ></ng-container>
                      <div class="nt-wrapper">
                        @if (shouldExist(tocMenu) && expandedTocs.includes(i)) {
                          <ol
                            @submenuAnimation
                            class="nt-list"
                            >
                            @for (tocItem of tocMenu.children; track tocItem) {
                              <li
                                class="nt-aside__link nt-aside__link--{{ tocItem.tagName }}"
                                >
                                <ng-container
                      *ngTemplateOutlet="
                        tocItemTpl;
                        context: { $implicit: tocItem }
                      "
                                ></ng-container>
                              </li>
                            }
                          </ol>
                        }
                      </div>
                    </li>
                  }
                </ol>
              }
            </nav>
          </aside>
        }
        <article
          class="nt-article nt-container__col nt-container__col66"
          [class.nt-article--fullwidth]="!tocIsEnabled"
          >
          <pre [innerHTML]="page | mainSafeHtml : testStarter"></pre>
        </article>
      </div>
    </div>
  }
</nt-general-card>
<ng-template #tocItemTpl let-tocItem>
  <a
    [href]="tocItem?.href"
    [id]="tocItem?.linkId"
    class="nt-link"
    [class.nt-link--active]="isTocItemActive(tocItem)"
    >{{ tocItem?.text }}</a
    >
  </ng-template>
  <nt-scroll-top></nt-scroll-top>
